
 /*Import the custom fonts*/

@font-face { font-family: Roboto-Thin; src: url('Roboto-Thin.ttf'); } 


html, body {
	
	width:  100%;
	height: 100%;
	overflow-x:hidden;
}
body {
	position:relative;
	vertical-align: top;
	overflow: hidden;
}



body, h1, h2 {

	margin:  0;
	border:  0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:   20px;
	line-height: 15px;
}
#container{
	margin-top:-100px;
	width:  100%;
	overflow: hidden;
	height: 100%;
}

#fail{

	display: none;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -250px;
	width: 500px;
	height: 200px;
	overflow: hidden;

}

.colorPicker{
	margin-top:30px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	width:100%;
}

.colorPicker > form{
	width:80%;
	margin-left:auto;
	margin-right:auto;
}

.colorPicker > form > label > img {
}

#info{
	display:none;
	background-color: #1abc9c;
	width:100%;
	overflow: hidden;
	box-shadow:
        inset 0px 11px 8px -10px black,
        inset 0px -11px 8px -10px black;
}

#info_text{
	font-family:'Roboto-Thin','sans-serif';
	overflow: hidden;
	margin-bottom:30px;
	color:white;
	line-height: 100%;
	width:80%;
	text-align: center;
	margin:30px auto;

}


.cubeOperations{
	margin-top:10px;
	margin-bottom:10px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	width:80%;
}

.cubeOperations > ul > li> img{
	width:115px;
}

#slide_button{
	width:32px;
}

label > input{
  visibility: hidden;
  position: absolute;
}

label > input + img{
  cursor:pointer;
  width:40px;
  height:40px;
}

 /* Setting images for the radi buttons */

label > #white:checked + img{
  content: url(circleWhiteChecked.png);
}

label > #red:checked + img{
  content: url(circleRedChecked.png);
}

label > #green:checked + img{
  content: url(circleGreenChecked.png);
}

label > #blue:checked + img{
  content: url(circleBlueChecked.png);
}

label > #orange:checked + img{
  content: url(circleOrangeChecked.png);
}

label > #yellow:checked + img{
  content: url(circleYellowChecked.png);
}

#fail > h1 { font-size: 6em; line-height: 2em; }
#fail > h2 { font-size: 3em; line-height: 1em; }


@media not screen and (-webkit-transform-3d)
{
	#container{
		visibility: hidden;
	}
	#fail{
		display: block;
	}
}

.message { 
	padding-top:3%;;
	text-align:center;
	width:100%;
	height:100px;
}

#outputMessage{
	font-family: 'Roboto-Thin', 'sans-serif'; 
}

ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul li{
	display:inline;
}



